@tailwind base;
@tailwind components;
@tailwind utilities;

/* codigo para ANIMACION DE HEADER */
.nav-link {
    color: #ADB7BE;
    padding: 8px 12px;
    border-radius: 4px;
    transition: color 0.3s, border-bottom 0.3s;
  }
  
  .nav-link:hover,
  .nav-link-active {
    color: white;
    border-bottom: 2px solid white;
  }
  
  /* anmiacion del avatar */
  .circle-animation {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    border-top: 2px solid #FFFFFF; /* Color del borde superior */
    border-right: 2px solid #FFFFFF; /* Color del borde derecho */
    border-radius: 25%;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  